<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.founder.database.Tx100405Dao" >

	<resultMap id="tx405grCustMap" type="cfca.safeguard.tx.business.bank.TxExceptionalEvent_Accounts">
		<result column="AccountName" property="AccountName" />
		<result column="cardNumber" property="cardNumber" />
		<!-- <result column="remark" property="remark" /> -->
	</resultMap>
	
	<resultMap id="tx405grAcntMap" type="cfca.safeguard.tx.business.bank.TxExceptionalEvent_Account">
		<result column="accountNumber" property="accountNumber" />
		<result column="accountSerial" property="accountSerial" />
		<result column="accountType" property="accountType" />
		<result column="accountStatus" property="accountStatus" />
		<result column="currency" property="currency" />
		<result column="cashRemit" property="cashRemit" />
	</resultMap>

	
	

	<!-- 获取客户信息 -->
	<select id="getF405grCust" resultMap="tx405grCustMap" parameterType="java.util.Map">
		select first 1 trim(fn20xm) AccountName,trim(fn13khzh) cardNumber
		from gracct
		left join grinfo on fn20khbh=fb3khbh
		left join relevantAcct on fn13nbzh=fb3zh
		where fn13khzh=#{khzh}
	</select>
	

	<!-- 获取账号信息 -->
	<select id="getF405grAcnt" resultMap="tx405grAcntMap" parameterType="java.util.Map">
		select first 1 trim(fb3zh) accountNumber,fn13xh accountSerial,fb3zl accountType,decode(fb3bz[1,1],'0','正常','1','冻结','2','冻结','4','销户','5','变更科目') accountStatus,decode(fb3biz,'1','CNY') currency,'0' cashRemit
		from gracct 
		left join relevantAcct on fn13nbzh=fb3zh
		where fn13khzh=#{khzh} and fn13xh=1
	</select>
	
	
	
	<!-- 根据提供的条件，查询交易流水信息 
	<select id="listgrTransactions" resultMap="tx405grTransMap" parameterType="java.util.Map">
		select skip #{begin} first #{limit} fb311ywlx,fb311jdf-1 fb311jdf,decode(fb311biz,'1','CNY') fb311biz,fb311fse,fb311ye,to_char(fb311jzr,'%Y%m%d')||substr(fb311jysj,0,6) datetime,fb311jylsh,
		trim(fb311dfzh) fb311dfzh,fb311dfhh,fc2bhhm fb311jyhm,fb311jyhh,'00' cashMark,decode(fb311bz,'00000000','00','01') fb311bz
		from gracctdetail
		left join bankinfo on  fb311jyhh=fc2hh
		where 1==1
		<trim suffixOverrides=",">
			<if test="transflow != null and transflow != ''">
				and fb311jylsh=#{transflow}
			</if>
			<if test="transdate != null and transdate != ''">
				and fb311jzr=#{transdate}
			</if>
			<if test="amount != null and amount != ''">
				and fb311fse=#{amount}
			</if>
			<if test="payno != null and payno != ''">
				and fb311khzh=#{payno}
			</if>
			<if test="peyno != null and peyno != ''">
				and fb311dfzh=#{peyno}
			</if>
		</trim>
		order by fb311jylsh desc
	</select> -->


	<!-- 根据流水号，查询交易流水信息 
	<select id="getTransaction" resultMap="tx405grTransMap" parameterType="java.util.Map">
		select fb311ywlx,fb311jdf-1 fb311jdf,decode(fb311biz,'1','CNY') fb311biz,fb311fse,fb311ye,to_char(fb311jzr,'%Y%m%d')||substr(fb311jysj,0,6) datetime,fb311jylsh,
		trim(fb311dfzh) fb311dfzh,fb311dfhh,fc2bhhm fb311jyhm,fb311jyhh,'00' cashMark,decode(fb311bz,'00000000','00','01') fb311bz
		from gracctdetail
		left join bankinfo on  fb311jyhh=fc2hh
		where fb311jylsh=#{transflow}
	</select>-->
	

	<!-- 根据提供的条件，查询交易流水信息 
	<select id="getgrTransactions" resultMap="tx405grTransMap" parameterType="java.util.Map">
		select fb311ywlx,fb311jdf-1 fb311jdf,decode(fb311biz,'1','CNY') fb311biz,fb311fse,fb311ye,to_char(fb311jzr,'%Y%m%d')||substr(fb311jysj,0,6) datetime,fb311jylsh,
		trim(fb311dfzh) fb311dfzh,fb311dfhh,trim(fc2bhhm) fb311jyhm,fb311jyhh,'00' cashMark,decode(fb311bz,'00000000','00','01') fb311bz
		from gracctdetail
		left join bankinfo on  fb311jyhh=fc2hh
		where fb311khzh=#{khzh}
		<trim suffixOverrides=",">
			<if test="last != null and last != ''">
				<![CDATA[ and fb311jzr>=to_char(today-#{last},'%Y%m%d') ]]>
			</if>
		</trim>
		order by fb311jylsh desc
	</select>-->



	<!-- 获取n个工作日内转入大于m笔的[交易流水记录、总金额] - 分散转入 3006 
	<select id="listgr3006flows" resultType="java.util.Map" parameterType="java.util.Map">
		select trim(fb311khzh) account,count(fb311khzh) count,sum(fb311fse) amount 
		from gracctdetail
		left join relevantacct on fb311dfzh=fn13nbzh
		where fb311jdf=2 
		<![CDATA[	and fb311khzh<>fn13khzh	]]>
		<trim suffixOverrides=",">
			<if test="last != null and last != ''">
				<![CDATA[ and fb311jzr>=to_char(today-#{last},'%Y%m%d') ]]>
			</if>
		</trim>
		group by fb311khzh having 1==1
		<trim suffixOverrides=",">
			<if test="count != null and count != ''">
				<![CDATA[ and count(fb311khzh)>=#{count} ]]>
			</if>
		</trim>
	</select> -->


	<!-- 是否是集中转出的情况 [转出笔数<count、0.9*amount<转出金额<1.1*amount] - 集中转出 3006 
	<select id="hasgr3006flows" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(*)
		from gracctdetail 
		left join relevantacct on fb311dfzh=fn13nbzh
		where fb311jdf=1 and fb311khzh=#{account}
		<![CDATA[	and fb311khzh<>fn13khzh	]]>
		<trim suffixOverrides=",">
			<if test="last != null and last != ''">
				<![CDATA[ and fb311jzr>=to_char(today-#{last},'%Y%m%d') ]]>
			</if>
		</trim>
		group by fb311khzh having 1==1
		<trim suffixOverrides=",">
			<if test="amount != null and amount != '' and amount != 0">
				<![CDATA[ and sum(fb311fse)>=(0.9*#{amount}) and sum(fb311fse)<=(1.1*#{amount}) ]]>
			</if>
		</trim>
	</select>-->



	<!-- 获取n个工作日内转出大于m笔的[交易流水记录、总金额] - 分散转出 3007 
	<select id="listgr3007flows" resultType="java.util.Map" parameterType="java.util.Map">
		select trim(fb311khzh) account,count(fb311khzh) count,sum(fb311fse) amount 
		from gracctdetail 
		left join relevantacct on fb311dfzh=fn13nbzh
		where fb311jdf=1
		<![CDATA[	and fb311khzh<>fn13khzh	]]>
		<trim suffixOverrides=",">
			<if test="last != null and last != ''">
				<![CDATA[ and fb311jzr>=to_char(today-#{last},'%Y%m%d') ]]>
			</if>
		</trim>
		group by fb311khzh having 1==1
		<trim suffixOverrides=",">
			<if test="count != null and count != ''">
				<![CDATA[ and count(fb311khzh)>=#{count} ]]>
			</if>
		</trim>
	</select>-->


	<!-- 是否是集中转入的情况 [转入笔数<count、0.9*amount<转入金额<1.1*amount] - 集中转入 3007 
	<select id="hasgr3007flows" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(*)
		from gracctdetail 
		left join relevantacct on fb311dfzh=fn13nbzh
		where fb311jdf=2 and fb311khzh=#{account}
		<![CDATA[	and fb311khzh<>fn13khzh	]]>
		<trim suffixOverrides=",">
			<if test="last != null and last != ''">
				<![CDATA[ and fb311jzr>=to_char(today-#{last},'%Y%m%d') ]]>
			</if>
		</trim>
		group by fb311khzh having 1==1
		<trim suffixOverrides=",">
			<if test="amount != null and amount != '' and amount != 0">
				<![CDATA[ and sum(fb311fse)>=(0.9*#{amount}) and sum(fb311fse)<=(1.1*#{amount}) ]]>
			</if>
		</trim>
	</select>-->
	


</mapper>   
