<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.founder.database.Tx100404Dao" >

	<resultMap id="tx404grCustMap" type="cfca.safeguard.api.bank.bean.tx.upstream.Tx100404">
		<result column="cardNumber" property="cardNumber" />
		<result column="fn20xm" property="accountName" />
		<result column="fn20zjlx" property="idType" />
		<result column="fn20zjbh" property="idNumber" />
		<result column="fn20yddh" property="phoneNumber" />
		<result column="fn20zzdz" property="address" />
		<result column="fn20zzyb" property="postCode" />
		<result column="accountOpenPlace" property="accountOpenPlace" />
		<!-- 
		<result column="reportOrgName" property="reportOrgName" />
		<result column="operatorName" property="operatorName" />
		<result column="operatorPhoneNumber" property="operatorPhoneNumber" />
		 -->
	</resultMap>
	
	<resultMap id="tx404grAcntMap" type="cfca.safeguard.tx.business.bank.TxInvolvedAccount_Account">
		<result column="fb3zh" property="accountNumber" />
		<result column="accountSerial" property="accountSerial" />
		<result column="fb3ywlx" property="accountType" />
		<result column="accountStatus" property="accountStatus" />
		<result column="fb3biz" property="currency" />
		<result column="fb3hh" property="cashRemit" />
	</resultMap>

	<resultMap id="tx404grTransMap" type="cfca.safeguard.tx.Transaction">
		<result column="fb3zh" property="transactionType" />
		<result column="accountSerial" property="borrowingSigns" />
		<result column="fb3ywlx" property="currency" />
		<result column="accountStatus" property="transactionAmount" />
		<result column="fb3biz" property="accountBalance" />
		<result column="fb3hh" property="transactionTime" />
		<result column="fb3zh" property="transactionSerial" />
		<result column="accountSerial" property="opponentName" />
		<result column="fb3ywlx" property="opponentAccountNumber" />
		<result column="accountStatus" property="opponentCredentialNumber" />
		<result column="fb3biz" property="opponentDepositBankID" />
		<result column="fb3hh" property="transactionRemark" />
		<result column="fb3zh" property="transactionBranchName" />
		<result column="accountSerial" property="transactionBranchCode" />
		<result column="fb3ywlx" property="logNumber" />
		<result column="accountStatus" property="summonsNumber" />
		<result column="fb3biz" property="voucherType" />
		<result column="fb3hh" property="voucherCode" />
		<result column="fb3hh" property="cashMark" />
		<result column="fb3hh" property="terminalNumber" />
		<result column="fb3hh" property="transactionStatus" />
		<result column="fb3hh" property="transactionAddress" />
		<result column="fb3hh" property="merchantName" />
		<result column="fb3hh" property="merchantCode" />
		<result column="fb3hh" property="ipAddress" />
		<result column="fb3hh" property="mac" />
		<result column="fb3hh" property="tellerCode" />
		<result column="fb3hh" property="remark" />
	</resultMap>
	
	
	<sql id="tx404grCust_column">
		fn20xm,
		decode(fn20zjlx,"A","01","B","04","C","05","D","08","E","05","F","06","G","11","H","99","I","03","P","13","L","15","X","99","J","07","K","10","M","12","01"),
		fn20zjbh,
		fn20yddh,
		fn20zzdz,
	</sql>
	
	<sql id="tx404grAcnt_column">
		fb3zh,fb3khr,fb3hh
	</sql>
	
	<sql id="tx404grTrans_column">
		fb3zh,fb3khr,fb3hh
	</sql>


	<!-- 获取所有涉案账户客户号 -->
	<select id="getF2001grCusts" resultType="string" parameterType="java.util.Map">
		select fb3khbh from gracct where 1==1
		<trim suffixOverrides=",">
			<if test="khbh != null and khbh != ''">
				and fb3khbh=#{khbh}
			</if>
		</trim>
	</select>

	<!-- 获取涉案账户客户信息 -->
	<select id="getF2001grCust" resultMap="tx404grCustMap" parameterType="java.util.Map">
		select 
		<include refid="tx404grCust_column"></include>
		from grinfo where 1==1 
		<trim suffixOverrides=",">
			<if test="khbh != null and khbh != ''">
				and fn20khbh=#{khbh}
			</if>
		</trim>
	</select>
	
	
	<!-- 获取涉案账户账号信息 -->
	<select id="getF2001grAcntList" resultMap="tx404grAcntMap" parameterType="java.util.Map">
		select 
		<include refid="tx404grAcnt_column"></include>
		from gracct where fb3khbh=#{khbh}
	</select>
	

	<!-- 获取涉案账户账号交易信息 -->
	<select id="getF2001grTransList" resultMap="tx404grTransMap" parameterType="java.util.Map">
		select 
		<include refid="tx404grTrans_column"></include>
		from gracctdetail where fb311khzh=#{khzh}
	</select>

</mapper>   
