<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context-3.2.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd"
	default-autowire="byName">

	<!-- 扫描classpath的包下的所有类，该包路径下的类可以不需要配置bean了 -->
	<context:component-scan base-package="com.founder.service,com.founder.controller" />
	<context:annotation-config />
	<mvc:annotation-driven />
	
	<!-- 静态资源 -->
	<mvc:default-servlet-handler />
	<mvc:resources location="/css/" mapping="/css/**" />
	<mvc:resources location="/html/" mapping="/html/**" />
	<mvc:resources location="/image/" mapping="/image/**" />
	<mvc:resources location="/javascript/" mapping="/javascript/**" />

	<!-- 不能用？怎么回事？ -->
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" >
		<property name="interceptors">
			<list>
				<bean class="com.founder.filter.URLInterceptor"/>
			</list>
		</property>
	</bean>
	
	<!-- 支持文件上传 -->
	<bean id="multipartResolver" 
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>  

	<!-- 方法名解析器 -->
	<bean id="InternalPathMethodNameResolver"
		class="org.springframework.web.servlet.mvc.multiaction.InternalPathMethodNameResolver" />

	<!-- HandlerApapter -->
	<bean
		class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" />

	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="urlMap">
			<map>
				<entry key="/css/**" value="myResourceHandler" />
				<entry key="/html/**" value="myResourceHandler" />
				<entry key="/image/**" value="myResourceHandler" />
				<entry key="/javascript/**" value="myResourceHandler" />
			</map>
		</property>
		<property name="order" value="100000" />
	</bean>

	<bean id="myResourceHandler" name="myResourceHandler"
		class="org.springframework.web.servlet.resource.ResourceHttpRequestHandler">
		<property name="locations">
			<list>
				<value>/css/</value>
				<value>/html/</value>
				<value>/image/</value>
				<value>/javascript/</value>
			</list>
		</property>
		<property name="supportedMethods">
			<list>
				<value>GET</value>
				<value>HEAD</value>
				<value>POST</value>
			</list>
		</property>
	</bean>

	<!-- ResquestMapping -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />

	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
			
	<bean id="freemarkeronfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer"/>

	<!-- 内容协商 -->
	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="mediaTypes">
			<map>
				<entry key="xml" value="application/xml" />
				<entry key="html" value="text/html" />
				<entry key="json" value="application/json" />
			</map>
		</property>
		<property name="viewResolvers">
			<list>
				<!-- freemarker视图解析器 -->
				<bean id="viewResolverFtl"
					class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
					<property name="suffix" value=".ftl" />
					<property name="contentType" value="text/html;charset=UTF-8" />
					<!-- 此变量值为pageContext.request, 页面使用方法：rc.contextPath -->
					<property name="requestContextAttribute" value="rc" />
					<property name="order" value="1" />
				</bean>
				<bean id="internalResourceViewResolver"
					class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="prefix" value="/html/" />
					<property name="suffix" value=".html" />
					<property name="order" value="0" />
				</bean>
			</list>
		</property>
	</bean>
</beans>
